.main_footer__container{
  max-width: 1170px;
  display: flex;
  align-items: center;
  margin-left: 367px;
}

.main_footer__content{
  display: flex;
  align-items: center;
}

.main_footer__section1{
  margin-right: 168px;
}


.main_footer__sectio2{
  margin-right: 168px;
}

.main_footer__section3{
  margin-right: 100px;
}

.main_footer__text{
  max-width: 344px;
  font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #757575;
margin-top: 20px;
margin-bottom: 55px;
}

.img2{
  gap: 12px;
}

.word{
  font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #08546C;
margin-bottom: 28px;
}

.main_footer__word{
  margin-bottom: 28px;
}
.main_footer__item{
  font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #787878;
cursor: pointer;
}

.word2{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546C;
  margin-bottom: 28px;
}

.main_footer__item{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
  cursor: pointer;
  margin-bottom: 10px;
}

.main_footer__cont{
  display: flex;
  align-items: center;
}

.word3{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546C;
  margin-bottom: 28px;
}

.main_footer__item{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
  cursor: pointer;
  margin-bottom: 10px;
}